version: '3.8'

services:
  # O SITE (Recebe a conexão do Túnel)
  web:
    build: .
    container_name: gerador_videos_web
    restart: always
    # Escuta em 0.0.0.0 para aceitar conexões da rede
    command: gunicorn gerador_videos.wsgi:application --bind "0.0.0.0:8000" --timeout 3600
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      # URL SEM ASPAS!
      - CELERY_BROKER_URL=rediss://default:Ab2pAAIncDI1ZTExNDkyMmQzNTM0OTZmYmZkYWI5ZmJiODI5Njk0YnAyNDg1NTM@grown-macaque-48553.upstash.io:6379/?ssl_cert_reqs=CERT_NONE
    # FORÇA O DNS PARA TER INTERNET
    dns:
      - 8.8.8.8
      - 8.8.4.4

  # O TRABALHADOR (Processa o vídeo usando a CPU deste PC)
  celery_worker:
    build: .
    container_name: lunderon_worker
    restart: always
    # IMPORTANTE: --pool=solo evita que o Windows trave com a IA
    # --concurrency=1 garante que ele faça um vídeo por vez (mais seguro para memória)
    command: celery -A gerador_videos worker -l info --pool=solo --concurrency=1
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      # URL SEM ASPAS!
      - CELERY_BROKER_URL=rediss://default:Ab2pAAIncDI1ZTExNDkyMmQzNTM0OTZmYmZkYWI5ZmJiODI5Njk0YnAyNDg1NTM@grown-macaque-48553.upstash.io:6379/?ssl_cert_reqs=CERT_NONE
    depends_on:
      - web
    # FORÇA O DNS PARA TER INTERNET E BAIXAR IMAGENS DA IA
    dns:
      - 8.8.8.8
      - 8.8.4.4

  # O AGENDADOR (Limpa arquivos velhos)
  celery_beat:
    build: .
    container_name: lunderon_beat
    restart: always
    command: sh -c "mkdir -p /app/logs && celery -A gerador_videos beat -l info --logfile=/app/logs/celery_beat.log"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      # URL SEM ASPAS!
      - CELERY_BROKER_URL=rediss://default:Ab2pAAIncDI1ZTExNDkyMmQzNTM0OTZmYmZkYWI5ZmJiODI5Njk0YnAyNDg1NTM@grown-macaque-48553.upstash.io:6379/?ssl_cert_reqs=CERT_NONE
    depends_on:
      - web
    # FORÇA O DNS PARA TER INTERNET
    dns:
      - 8.8.8.8
      - 8.8.4.4