# A linha 'version: 3.8' foi removida para evitar o aviso
services:
  redis:
    image: "redis:alpine"
    container_name: gerador_videos_redis
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: gerador_videos_web
    command: gunicorn gerador_videos.wsgi:application --bind "0.0.0.0:8000" --timeout 3600
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  celery:
    build: .
    container_name: gerador_videos_celery
    command: celery -A gerador_videos worker -l info --pool=solo
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - web
      - redis