Django==4.2.4
Pillow==10.0.0
requests==2.31.0
boto3==1.28.60
stripe==6.0.0
yt-dlp==2023.7.6
numpy==1.25.2
scipy==1.11.1
soundfile==0.12.1
ffmpeg-python==0.2.0
faster-whisper==0.10.0
google-cloud-tasks
google-api-python-client
google-auth-httplib2
gunicorn
python-decouple
