{% extends 'core/base.html' %}
{% load static %}

{% block title %}Redefinir Senha - LUNDERON{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-wrapper">
        <form method="POST" class="form-content">
            {% csrf_token %}
            
            <div class="form-header">
                <h2>Redefinir Senha</h2>
                <p>Digite seu e-mail para receber o link de redefinição.</p>
            </div>

            <div class="form-group">
                <label for="id_email" class="form-label">E-mail</label>
                <input type="email" name="email" id="id_email" class="form-input" placeholder="seu@email.com" required>
            </div>

            <button type="submit" class="btn btn-primary btn-full">Enviar Link de Redefinição</button>

            <div class="form-footer">
                <p>Lembrou a senha? <a href="{% url 'login' %}">Voltar para o Login</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}